<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title align="center" class="text-header text-white">Kannect</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="p-6" align="center">

    <div class="pt-20">

      <img class="mt-3.5" src="assets/img/check-circle.png" alt="">

      <ion-label class="text-extralarge mt-8 font-bold">
        We have received <br> your query!
      </ion-label>

      <p align="left" class="mt-12 text-center " style="color: #979797;">We will resolve it as soon as possible check
        your mailbox for more details.
      </p>

      <button class="btn-grad mt-24" routerLink="/dashboard">
        <span style="float: center; font-weight: bold; font-size: 0.9rem">Go to homepage</span>
      </button>

    </div>
  </div>
</ion-content>
