<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Membership Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngFor="let item of details">
  <img class="w-full" src="{{item.img_banner}}" alt="" style="height: 12rem;">

  <div class="mt-2 border-b border-gray-300">
    <ion-row class="p-2">
      <ion-col size="2">
        <img class="w-full" style="z-index: 1000; position: absolute; margin-top: -42%;" src="{{item.img_logo}}"
          alt="">
      </ion-col>
      <ion-col size="6" class="-mt-3 pl-2" align="left">
        <ion-label class="head-det pl-1">
          {{item.org_name}}
        </ion-label>
        <ng-container [ngSwitch]="item.org_type" >
          <span class="text-sm text-gray-400 pl-1" *ngSwitchCase="'N'">Non Profit/NGO</span>
          <span class="text-sm text-gray-400 pl-1" *ngSwitchCase="'P'">For Profit</span>
          <span class="text-sm text-gray-400 pl-1" *ngSwitchCase="'A'">Association</span>
          <span class="text-sm text-gray-400 pl-1" *ngSwitchCase="'C'">Club</span>
          <span class="text-sm text-gray-400 pl-1" *ngSwitchCase="'G'">Networking Group</span>
          <span class="text-sm text-gray-400 pl-1" *ngSwitchDefault>Unknown Type</span>
        </ng-container>
        <!-- <p class="text-sm text-gray-400 pl-1">Non-profit</p> -->
      </ion-col>
      <ion-col size="2" class="-mt-3">
        <div align="center" style="background-color: red; color: white; border-radius: 5px;">
          <div class="text-white font-bold">GOAL</div>
          <p class="text-sm text-white">6</p>
        </div>
      </ion-col>
      <ion-col size="2" class="-mt-3">
        <div align="center" style="background-color: #1b8dd4; color: white; border-radius: 5px;">
          <div class="text-white font-bold">GOAL</div>
          <p class="text-sm text-white pl-1">1</p>
        </div>
      </ion-col>

    </ion-row>
    <ion-grid class="container switch -mt-8">
      <ion-row class="row">
        <ion-col size="3">
          <button type="button" class="btn btn-sm btn-toggle active" data-toggle="button" aria-pressed="true"
            autocomplete="off">
            <div class="handle"></div>
          </button>
        </ion-col>
        <ion-col size="5" style="margin-top: 5%;">
          <span class="pt-1">
            Get Notified
          </span>
        </ion-col>
        <ion-col size="4" class="mt-2">
          <button class="mt-2 btncard w-full">Messages</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="p-2 border-b border-gray-300">

    <div class="flex justify-between pt-2 pl-2 pr-2">
      <p class="textdec pl-2"> Member Profile</p>
    </div>

    <div class="border-b border-gray-200 rounded-md shadow-md  flex justify-start">
      <img  src="assets/img/Oval_1.png" alt="">
      <div>
        <p class="textdec">{{item.first_name}}</p>
        <p class="textmem">Basic Member</p>
        <ng-container [ngSwitch]="item.volunteer_flag" >
          <span class="text-sm text-gray-400 pl-1" *ngSwitchCase="'1'">Open to volunteer</span>
          <span class="text-sm text-gray-400 pl-1" *ngSwitchCase="'0'" style="display: none;"></span>
        </ng-container>
        <!-- <p class="textside">Open to Volunteering</p> -->
      </div>
    </div>
  </div>

  <div class="p-2 border-b border-gray-300">

    <div class="flex justify-between pt-2 pl-2 pr-2">
      <p class="text-card pl-2"> Basic Details</p>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <p class="textside">Member ID</p>
        </ion-col>
        <ion-col size="1"> :</ion-col>
        <ion-col class="textdec" size="6"> {{item.org_member_id }}</ion-col>

        <ion-col size="5">
          <p class="textside">Due Joined</p>
        </ion-col>
        <ion-col size="1"> :</ion-col>
        <ion-col class="textdec" size="6">{{item.member_since}}</ion-col>

        <ion-col size="5">
          <p class="textside">Phone Number</p>
        </ion-col>
        <ion-col size="1"> :</ion-col>
        <ion-col class="textdec" size="6"> {{item.m_phone}}</ion-col>

        <ion-col size="5">
          <p class="textside">Location</p>
        </ion-col>
        <ion-col size="1"> :</ion-col>
        <ion-col class="textdec" size="6"> {{item.m_city  +   item.m_country }}    
          </ion-col>

        <ion-col size="5">
          <p class="textside">Gender</p>
        </ion-col>
        <ion-col size="1"> :</ion-col>
        <ion-col class="textdec" size="6">
          <ng-container [ngSwitch]="item.gender" >
            <span class="text-sm text-gray-400 pl-1" *ngSwitchCase="'M'">Male</span>
            <span class="text-sm text-gray-400 pl-1" *ngSwitchCase="'F'" >Female</span>
            <span class="text-sm text-gray-400 pl-1" *ngSwitchCase="'U'" ></span>
          </ng-container> </ion-col>

        <ion-col size="5">
          <p class="textside">Marital Status</p>
        </ion-col>
        <ion-col size="1"> :</ion-col>
        <ion-col class="textdec" size="6"> Married</ion-col>

        <ion-col size="5">
          <p class="textside">Blood Group</p>
        </ion-col>
        <ion-col size="1"> :</ion-col>
        <!-- *!ngIf="item.blood_group=='U'" -->
        <ion-col class="textdec" size="6" > 

          {{item.blood_group}}
        </ion-col>

        <ion-col size="5">
          <p class="textside">Date of birth</p>
        </ion-col>
        <ion-col size="1"> :</ion-col>
        <ion-col class="textdec" size="6">{{item.dob}}</ion-col>

      </ion-row>
    </ion-grid>

  </div>
</ion-content>
